option_settings:
  - option_name: SECRET_KEY_BASE
    value: <secret key base>
  - option_name: DB_HOST
    value: <database host>
  - option_name: DB_PORT
    value: <database port>
  - option_name: DB_NAME
    value: <database name>
  - option_name: DB_USERNAME
    value: <database port>
  - option_name: DB_PASSWORD
    value: <database port>
  - option_name: S3_BUCKET_PUBLIC
    value: <s3 bucket for public files>
  - option_name: S3_BUCKET_PRIVATE
    value: <s3 bucket for private files>
  - option_name: AWS_ACCESS_KEY
    value: <aws key>
  - option_name: AWS_ACCESS_SECRET
    value: <aws secret>
